[submodule "cycles-xml-exporter"]
	path = cloudrender/xml_exporter
	url = https://github.com/fabiosantoscode/cycles-xml-exporter
[submodule "emcycles"]
	path = cloudrender/emcycles
	url = https://github.com/fabiosantoscode/emcycles
